<div class="container">
  <div class="header">
    <h3>Cora Helper</h3>
  </div>
  <div class="body">
    <div style="margin: 10px 0px 30px 0px">
      <input #entitiesFile type="file" class="upload" />
      <button
        style="margin-right: 4%"
        (click)="changeListener(entitiesFile, 'entities')"
      >
        Add entities
      </button>

      <input #lsiFile type="file" class="upload" />
      <button style="margin-right: 4%" (click)="changeListener(lsiFile, 'lsi')">
        Add LSI
      </button>

      <input #tagTargetFile type="file" class="upload" />
      <button (click)="changeListener(tagTargetFile, 'tagTarget')">
        Tags Targets
      </button>
    </div>

    <div class="textarea-table">
      <div>
        <editor
          [(ngModel)]="dataModel"
        ></editor>
        <button
          (click)="add()"
          style="float: right; margin: 0; margin-top: 10px"
        >
          Add
        </button>
      </div>
      <table class="entitiesTable" *ngIf="entitiesData.length">
        <thead>
          <tr>
            <th *ngFor="let header of entitiesHeader">{{ header }}</th>
            <th style="text-align: right">{{ entitiesTotal || "" }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entitiesData">
            <td>{{ entity.name }}</td>
            <td>{{ entity.target }}</td>
            <td style="text-align: right">{{ entity.count || "" }}</td>
          </tr>
        </tbody>
      </table>

      <table class="lsiTable" *ngIf="lsiData.length">
        <thead>
          <tr>
            <th *ngFor="let header of lsiHeader">{{ header }}</th>
            <th style="text-align: right">{{ lsiTotal || "" }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lsi of lsiData">
            <td>{{ lsi.name }}</td>
            <td>{{ lsi.target }}</td>
            <td style="text-align: right">{{ lsi.count || "" }}</td>
          </tr>
        </tbody>
      </table>

      <table class="tagTarget" *ngIf="tagTarget.length">
        <thead>
          <tr>
            <th *ngFor="let header of tagTargetHeader">{{ header }}</th>
            <th>QTY</th>
            <th>ENTITIES</th>
            <th>LSI</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tagTarget of tagTarget">
            <td>{{ tagTarget[0] }}</td>
            <td>{{ tagTarget[1] }}</td>
            <td>{{ tagTarget[2] }}</td>
            <td>{{ tagTarget[3] }}</td>
            <td style="text-align: right">{{ tagTarget.QTYcount || "" }}</td>
            <td style="text-align: right">
              {{ tagTarget.ENTITIEScount || "" }}
            </td>
            <td style="text-align: right">{{ tagTarget.LSIcount || "" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
