<div class="container">
  <div class="header">
    <h3>Cora Helper</h3>
  </div>
  <div class="body">
    <div style="margin: 10px 0px 30px 0px">
      <input
        #entitiesFile
        type="file"
        class="upload"
        placeholder="add entities"
      />
      <button
        (click)="changeListener(entitiesFile, 'entities')"
        style="margin-right: 4%"
      >
        Add entities
      </button>

      <input #lsiFile type="file" class="upload" placeholder="add LSI" />
      <button (click)="changeListener(lsiFile, 'lsi')">Add LSI</button>
    </div>

    <div class="textarea-table">
      <div>
        <textarea
          #textarea
          rows="20"
          cols="50"
          placeholder=" enter your text"
          style="display: block"
        ></textarea>
        <button
          (click)="add(textarea.value)"
          style="float: right; margin: 0; margin-top: 10px"
        >
          Add
        </button>
      </div>
      <table class="entitiesTable" *ngIf="entitiesData.length">
        <thead>
          <tr>
            <th>Entities</th>
            <th>Target</th>
            <th style="text-align: right">{{ entitiesTotal }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entitiesData">
            <td>{{ entity[0] }}</td>
            <td>{{ entity[1] }}</td>
            <td style="text-align: right">{{ entity[2] }}</td>
          </tr>
        </tbody>
      </table>

      <table class="lsiTable" *ngIf="lsiData.length">
        <thead>
          <tr>
            <th>LSI</th>
            <th>Target</th>
            <th style="text-align: right">{{ lsiTotal }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entitiesData">
            <td>{{ entity[0] }}</td>
            <td>{{ entity[1] }}</td>
            <td style="text-align: right">{{ entity[2] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
